//Fonts
$gilroy: 'Gilroy';

//Color
$violet: #1B0145;
$orange: #FF8A00;
$black: #000000;
$braun: #322516;
$white: #FFFFFF;


//Gradient
$white-gradient: 0px 4px 10px #FFFFFF;
$white2-gradient: 0px 1px 20px #FFFFFF;
$silver-gradient: 0px 1px 10px #C4C4C4;
$back-gradient: 0px 4px 10px #000000;