.cartridges {
    &__wave {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    &__wrap {
        //background: url("../img/cartridges-bg.png") no-repeat top center;
        //background-size: 100% auto;
        //padding-top: 155px;
        padding-bottom: 88px;
        position: relative;
        background: linear-gradient(#3c2269, #7d6a9c);
        padding-top: 16px;

        @media(max-width: 480px) {
            padding-bottom: 40px;
        }

        h2 {
            text-align: center;
            color: $orange;
            margin-bottom: 44px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        padding-left: 60px;
        padding-right: 69px;

        @media(max-width: 1080px) {
            padding-right: 60px;
        }

        @media(max-width: 768px) {
            padding-left: 20px;
            padding-right: 20px;
        }

        @media(max-width: 480px) {
            flex-direction: column;
        }

        p {
            font-weight: 600;
            font-size: 30px;
            line-height: 31.29px;
            color: $white;

            @media(max-width: 992px) {
                font-size: 22px;
                line-height: 1.2;
            }

            @media(max-width: 575px) {
                font-size: 16px;
            }
        }
    }

    &__first, &__second {
        width: 35%;

        @media(max-width: 480px) {
            width: 100%;
        }
    }

    &__first {
        padding-top: 136px;

        @media(max-width: 768px) {
            padding-right: 20px;
            padding-top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        @media(max-width: 480px) {
            padding: 0;
        }

        p {
            text-align: left;

            @media(max-width: 480px) {
                margin-bottom: 20px;
            }

            &:first-child {
                width: 300px;
                margin-bottom: 160px;

                @media(max-width: 1080px) {
                    width: 100%;
                }

                @media(max-width: 768px) {
                    margin-bottom: 10vw;
                }

                @media(max-width: 480px) {
                    margin-bottom: 20px;
                }
            }

            &:last-child {
                width: 310px;

                @media(max-width: 1080px) {
                    width: 100%;
                }
            }
        }
    }

    &__second {
        padding-top: 119px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media(max-width: 768px) {
            padding-left: 20px;
            padding-top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        @media(max-width: 480px) {
            display: block;
            padding-left: 0;
        }

        p {
            text-align: right;

            @media(max-width: 480px) {
                text-align: left;
            }

            &:first-child {
                width: 340px;
                margin-bottom: 160px;

                @media(max-width: 1080px) {
                    width: 100%;
                }

                @media(max-width: 768px) {
                    margin-bottom: 10vw;
                }

                @media(max-width: 480px) {
                    margin-bottom: 20px;
                }
            }

            &:last-child {
                width: 310px;

                @media(max-width: 1080px) {
                    width: 100%;
                }
            }
        }
    }

    &__image {
        width: 210px;

        @media(max-width: 768px) {
            width: 30%;
        }

        @media(max-width: 480px) {
            order: 3;
            margin: 0 auto;
            margin-top: 30px;
        }

        img {
            width: 100%;
            max-width: 100%;
        }
    }
}