.front-window {
  &__wrap {
    padding-top: 76px;

    @media(max-width: 575px) {
      padding-top: 30px;
    }

    h2 {
      text-align: center;
      margin-bottom: 15px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  //Head
  &-head {
    padding-left: 60px;
    padding-right: 60px;
    display: flex;

    @media(max-width: 768px) {
      display: block;
      padding-left: 20px;
      padding-right: 20px;
    }

    &__img {
      width: 39%;

      @media(max-width: 768px) {
        width: 100%;
      }

      img {
        max-width: 100%;

        @media(max-width: 768px) {
          width: 300px;
          margin-left: auto;
          margin-right: auto;
          display: block;
        }
      }
    }

    &__content {
      width: 61%;
      padding-left: 64px;
      padding-top: 76px;

      @media(max-width: 1200px) {
        padding-top: 4vw;
      }

      @media(max-width: 1080px) {
        padding-left: 30px;
      }

      @media(max-width: 768px) {
        width: 100%;
        padding-left: 0;
      }

      .icon-item {

        &:not(:last-child) {
          margin-bottom: 46px;

          @media(max-width: 1200px) {
            margin-bottom: 2.5vw;
          }
        }

        &:nth-child(1) {
          p {
            width: 75%;
          }
        }

        &:nth-child(3) {
          p {
            width: 90%;
          }
        }

        h4 {
          font-size: 30px;
          line-height: 31px;
          font-weight: 600;

          @media(max-width: 575px) {
            font-size: 24px;
            margin-bottom: 10px;
          }

          em {
            color: $violet;
            padding: 0 5px;
          }
        }
      }
    }
  }

  //Image
  &__image {
    position: relative;
    margin-top: -88px;

    @media(max-width: 1200px) {
      margin-top: -5.8vw;
    }

    &:after {
      content: "";
      width: 131px;
      height: 131px;
      border: 2px solid #FF8A00;
      display: block;
      position: absolute;
      top: 65.7%;
      left: 61.9%;

      @media(max-width: 1200px) {
        width: 10.8vw;
        height: 10.8vw;
      }

      @media(max-width: 480px) {
        top: 64.6%;
        left: 60.8%;
      }
    }

    &:before {
      content: "";
      width: 50%;
      height: 2px;
      background-color: #FF8A00;
      position: absolute;
      top: 109.9%;
      transform: rotate(-26deg);
      z-index: 10;
      left: 20.1%;

      @media(max-width: 1200px) {
        top: 110%;
      }

      @media(max-width: 992px) {
        top: 58.3vw;
        width: 35%;
        left: 39.1%;
        transform: rotate(-61deg);
      }

      @media(max-width: 650px) {
        top: 58vw;
      }

      @media(max-width: 480px) {
        top: 57vw;
      }
    }

    img {
      width: 100%;
      max-width: 100%;
      display: block;
    }

    .first {
      position: relative;
      top: 95px;
      z-index: 1;

      @media(max-width: 1080px) {
        //top: 50px;
        top: 8vw;
      }
    }

    .third {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;
    }
  }

  //Bottom
  &-bottom {
    background: linear-gradient(#fbf4e5, #e9d9b8);
    display: flex;
    padding: 74px 80px 101px 85px;
    box-sizing: border-box;

    @media(max-width: 1080px) {
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 40px;
    }

    @media(max-width: 992px) {
      display: block;
      padding-bottom: 20px;
    }

    @media(max-width: 768px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    &__img {
      width: 321px;
      z-index: 10;
      position: relative;

      @media(max-width: 1080px) {
        width: 280px;
      }

      @media(max-width: 992px) {
        width: 100%;
        margin-bottom: 40px;
      }

      img {
        width: 100%;

        @media(max-width: 992px) {
          width: 280px;
          margin: 0 auto;
          display: block;
        }

        @media(max-width: 575px) {
          width: 200px;
        }
      }
    }

    &__content {
      width: calc(100% - 321px);
      padding-left: 113px;
      box-sizing: border-box;

      @media(max-width: 1080px) {
        padding-left: 50px;
        width: calc(100% - 280px);
        padding-top: 6vw;
      }

      @media(max-width: 992px) {
        width: 100%;
        padding-left: 0;
        padding-top: 0;
      }

      .icon-item {
        margin-bottom: 46px;

        @media(max-width: 992px) {
          margin-bottom: 20px;
        }

        &:nth-child(1) {
          p {
            width: 78%;

            @media(max-width: 1080px) {
              width: 100%;
            }
          }
        }

        &:nth-child(1) {
          p {
            width: 78%;

            @media(max-width: 1080px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}